extends layout

block content
  include sidebar
  .main.animated.fadeIn
    .container
      h2.project-name= project.name
      a(class="icon" href=project.github target="_blank")
        span(class="fa fa-github")
        span Github
      a(class="icon" href=project.production target="_blank")
        span(class="fa fa-laptop")
        span Production
      p= project.description
      .gallery.js-flickity(data-flickity-options='{"wrapAround" : "true"}')
        for each in project.images
          img.gallery-cell(src=each alt="")
      .project-info
        .project-tech
          h3 Technologies, tools, & skills used:
          ul
          for each in project.technologies
            li= each
        .project-basic
          h3 Type: #{project.type}
          p Completed in #{project.completedIn} after #{project.completedAt} of instruction
          if project.collaborators !== null
            ul Collaborators:
            for each in project.collaborators
              li
                a(href=each.github target="_blank") #{each.name}

  script(src="/javascripts/projects.js" type="text/javascript")
